{namespace fb=FooBar\foobarSitePackage\ViewHelper}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Elements" />

<f:section name="main">
	<f:variable name="secClass" value="" />
	<f:variable name="chldClass" value="" />
    <f:variable name="newsAmmount" value="0" />
    <f:if condition="{main.optNewsCount}==1">
        <f:variable name="newsAmmount" value="4" />
    </f:if>

	<f:variable name="bgSrc" value="" />
	<f:variable name="setParallax" value="" />
	<f:if condition="{main.hintergrundbild.0}">
		<f:for each="{main.hintergrundbild.variants}" as="variant" key="varKey" reverse="false" iteration="iterator">
			<f:variable  name="bgSrc" value="{bgSrc} {variant.breakpoint}:{f:uri.image(image:main.hintergrundbild.0,width:variant.renderwidth,cropVariant:varKey)};" />
		</f:for>


		<f:switch expression="{main.bildHGOption}">
			<f:case value="1">
				<f:variable name="secClass" value="{secClass} fixed" />
				<f:variable name="secClass" value="{secClass} bild background-data" />
			</f:case>
			<f:case value="2">
				<f:variable name="secClass" value="{secClass} bild parallax " />
				<f:variable name="setParallax" value="{bgSrc}" />
				<f:variable name="bgSrc" value="" />
			</f:case>
			<f:defaultCase>
				<f:variable name="secClass" value="{secClass} bild background-data" />
			</f:defaultCase>
		</f:switch>

	</f:if>

	<section class="textblock main_9 {secClass}" id="c{main.uid}" background-data="{bgSrc}">
		<f:if condition="{setParallax}">
			<div class="parllaxImg background-data" data-velocity=".2" background-data="{setParallax}"></div>
		</f:if>
		<div class="container">
			<f:if condition="header1">
				<div class="row">
					<div class="col-12">
						<f:render partial="Headline" arguments="{headline:main.header1, subheader:'', type:main.optHeadline, class:'headline', size:main.optHeadlineSize, align:main.optHeadlineAlign}" />
					</div>
				</div>
			</f:if>
			<div class="row">
				<f:variable name="newsPages" value="<fb:PageChildren pageid='{main.pagelink}' ammount='{newsAmmount}' />" />

				<f:for each="{newsPages}" as="nUid">
					<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '15',pageUid: '{nUid}'}" />
				</f:for>
			</div>
		</div>
		<f:if condition="{main.optHgMask}">
			<div class="maske"></div>
		</f:if>
		<f:if condition="{main.optNextSection}">
			<div class="scrollNext"></div>
		</f:if>
	</section>

</f:section>
</html>
