<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="formsuche">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-sm-4 col-md-3"></div>
			<div class="col-12 col-sm-6 col-md-7">
				<form method="get" id="form_kesearch_searchfield" name="form_kesearch_searchfield" action="/search">
					<input name="tx_kesearch_pi1[sword]" id="inpSearch" class="form-control mr-sm-2" placeholder="Suchen" aria-label="Suchen" type="search">
					<input type="hidden" id="ke_search_searchfield_submit" name="" value="search" />
					<input type="hidden" name="id" value="15" />
				</form>
			</div>
			<div class="col-2 col-md-1">
				<a class="startSuche" href="javascript:;"><i class="mdi mdi-magnify"></i></a>
			</div>
			<div class="col-2 col-md-1 text-md-right">
				<a class="closeSuche" href="javascript:;"><i class="mdi mdi-close"></i></a>
			</div>
		</div>
	</div>
</div>
</html>
